{% comment %} Generate the product row html first - we don't know where they are going yet {% endcomment %}
{% if collections[settings.productrow_1_collection].products.size > 0 %}
{% capture row1_html %}
<section class="widgets row">
    <div class="widget productlist">
        {% assign collection = collections[settings.productrow_1_collection] %}
        {% assign row_limit = settings.products_per_row_home | plus: 0 %}
        {% assign number_to_show = settings.products_per_row_home | times: settings.productrow_1_rows %}
        {% assign number_to_show_plusone = number_to_show | plus: 1 %}
        {% paginate collection.products by number_to_show_plusone %}
        {% unless settings.prodrow_hide_titles %}
            {% if collection.products.size > number_to_show %}<a href="{{ collection.url }}">{% endif %}
            <h2 class="sixteen columns">{{ collection.title }}</h2>
            {% if collection.products.size > number_to_show %}</a>{% endif %}
        {% endunless %}
        {% for product in collection.products limit: number_to_show %}
            {% include 'product-list-repeatable-item' with product %}
        {% endfor %}
        {% endpaginate %}
    </div>
</section>
{% endcapture %}
{% endif %}

{% if collections[settings.productrow_2_collection].products.size > 0 %}
{% capture row2_html %}
<section class="widgets row">
    <div class="widget productlist">
        {% assign collection = collections[settings.productrow_2_collection] %}
        {% assign row_limit = settings.products_per_row_home | plus: 0 %}
        {% assign number_to_show = settings.products_per_row_home | times: settings.productrow_2_rows %}
        {% assign number_to_show_plusone = number_to_show | plus: 1 %}
        {% paginate collection.products by number_to_show_plusone %}
        {% unless settings.prodrow_hide_titles %}
            {% if collection.products.size > number_to_show %}<a href="{{ collection.url }}">{% endif %}
            <h2 class="sixteen columns">{{ collection.title }}</h2>
            {% if collection.products.size > number_to_show %}</a>{% endif %}
        {% endunless %}
        {% for product in collection.products limit: number_to_show %}
            {% include 'product-list-repeatable-item' with product %}
        {% endfor %}
        {% endpaginate %}
    </div>
</section>
{% endcapture %}
{% endif %}

{% if settings.collrow_list != '' %}
{% capture collrow_html %}
<section class="widgets row collection-row">
    {% for link in linklists[settings.collrow_list].links %}
        {% if settings.collrow_numperrow == '2' %}
            <div class="widget fullwidthimg eight columns">
        {% elsif settings.collrow_numperrow == '3' %}
            <div class="widget fullwidthimg one-third column">
        {% elsif settings.collrow_numperrow == '5' %}
            <div class="widget fullwidthimg one-fifth column">
        {% else %}
            <div class="widget fullwidthimg four columns">
        {% endif %}
            {% unless settings.collrow_hide_titles %}
            <a href="{{ link.url }}"><h6>{{ link.title }}</h6></a>
            {% endunless %}
            <a class="highlight align" href="{{ link.url }}">{{ link.object.image.src | collection_img_url: 'large' | img_tag: link.object.image.alt }}</a>
        </div>
    {% endfor %}
</section>
{% endcapture %}
{% endif %}


{% if settings.collrow_position == '0' %}{{ collrow_html }}{% endif %}
{% if settings.productrow_1_position == '0' %}{{ row1_html }}{% endif %}
{% if settings.productrow_2_position == '0' %}{{ row2_html }}{% endif %}

<!-- max-width: 940px; width: 100%; height: auto; margin: 0 10px 0 10px; -->
<div style="position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 0; height: 0;">
              <iframe width="940" height="529" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="//www.youtube.com/embed/fyCChv0Mp3A?rel=0&amp;showinfo=0&amp;autoplay=1&amp;controls=0" frameborder="0" allowfullscreen></iframe>
</div>             
              

              
<div class="as-seen-on index"> 
  <span>As seen on:</span>
  <ul>
    <li><a onclick="trackOutboundLink(this, 'As seen on - XPOSE'); return false;" href="http://purpletag.ie/pages/purpletag-on-xpose-autostart" class="xpose"><img src="{{ 'xpose-greyed.png' | asset_url }}" alt="XPOS&Eacute; logo"/></a></li>
    <li><a onclick="trackOutboundLink(this, 'As seen on - RTE'); return false;" href="http://www.rte.ie/lifestyle/fashion/news/2014/0508/616080-new-irish-shoe-store-purpletag-ie-launches/ " class="rte"><img src="{{ 'rte-greyed.png' | asset_url }}" alt="RTE logo"/></a></li>
    <li><a onclick="trackOutboundLink(this, 'As seen on - IMAGE'); return false;" href="http://image.ie/Events/The-Diary/Purple-Tag/" class="image"><img src="{{ 'image-greyed.png' | asset_url }}" alt="IMAGE logo"/></a></li>
    <li><a onclick="trackOutboundLink(this, 'As seen on - Beaut.ie'); return false;" href="http://beaut.ie/2014/purple-tag-irelands-new-online-shoe-store-offers-exclusive-10-discount-to-all-beaut-ie-readers/" class="beaut"><img src="{{ 'beaut-greyed.png' | asset_url }}" alt="Beaut.ie logo"/></a></li>
  </ul>
</div>

{% if settings.collrow_position == '1' %}{{ collrow_html }}{% endif %}
{% if settings.productrow_1_position == '1' %}{{ row1_html }}{% endif %}
{% if settings.productrow_2_position == '1' %}{{ row2_html }}{% endif %}

{% if settings.widget_1_3_on %}
<section class="widgets row">
    {% assign data = settings.widget_1_handle %}
    {% include settings.widget_1_type %}
    
    {% if settings.widget_1_type != 'widget-page-full-threecol' %}
        {% assign data = settings.widget_2_handle %}
        {% include settings.widget_2_type %}
        
    	{% assign data = settings.widget_3_handle %}
        {% include settings.widget_3_type %}
    {% endif %}
</section>
{% endif %}

{% if settings.collrow_position == '2' %}{{ collrow_html }}{% endif %}
{% if settings.productrow_1_position == '2' %}{{ row1_html }}{% endif %}
{% if settings.productrow_2_position == '2' %}{{ row2_html }}{% endif %}

{% if settings.widget_4_6_on %}
<section class="widgets row">
	{% assign data = settings.widget_4_handle %}
    {% include settings.widget_4_type %}
    
    {% assign data = settings.widget_5_handle %}
    {% include settings.widget_5_type %}
    
    {% assign data = settings.widget_6_handle %}
    {% include settings.widget_6_type %}
</section>
{% endif %}

{% if settings.collrow_position == '3' %}{{ collrow_html }}{% endif %}
{% if settings.productrow_1_position == '3' %}{{ row1_html }}{% endif %}
{% if settings.productrow_2_position == '3' %}{{ row2_html }}{% endif %}